/node_modules
/public/storage/
/public/storage/*
/public/pdf/
/public/pdf/*
/public/uploads
/public/uploads/*
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
symfony.exe
/.idea
/.vscode
composer.lock